[submodule "res/candycan"]
	path = res/candycan
	url = git@github.com:Binjian/candycan.git
[submodule "res/tbox"]
	path = res/tbox
	url = git@github.com:Binjian/tbox.git
[submodule "res/IDQL"]
	path = res/IDQL
	url = git@github.com:Binjian/IDQL.git
[submodule "res/humanoid-gym"]
	path = res/humanoid-gym
	url = https://github.com/roboterax/humanoid-gym.git
